.nameText{
	text-align: center;
	font-size: 36rpx;
	font-weight: bold;
	line-height: 36rpx;
	color: #3D3D3D;
}
.subBox{
	min-width: 70rpx;
	font-weight: 400;
	font-size: 36rpx;
	color: #999999;
	line-height: 36rpx;
}
.paddBox{
	padding: 32rpx 40rpx;
	box-sizing: border-box;
}

.tabs{
	display: flex;
	align-items: center;
	padding: 32rpx 32rpx 12rpx 32rpx; 
	box-sizing: border-box;
	.tabsActive{
		.tabs-item-text{
			font-size: 32rpx !important;
			font-weight: bold !important;
		}
		.tabs-item-line{
			background: #FF9000;
		}
	}
	.tabs-item{
		margin-right: 48rpx;
		.tabs-item-text{
			display: inline-block;
			text-align: center;
			font-weight: 500;
			font-size: 32rpx;
			color: #666666;
			line-height: 32rpx;
		}
		.tabs-item-line{
			width: 100%;
			height: 8rpx;
			background: transparent;
			border-radius: 4rpx 4rpx 0rpx 0rpx;
			margin-top: 20rpx;
		}
	}
	
}

	.fixBox{
		width: 100%;
		height: 160rpx;
		position: fixed;
		left: 0;
		bottom: 0;
		z-index: 99;
		padding: 32rpx 40rpx;
		box-sizing: border-box;
		background: #FFFFFF;
		border:2rpx solid rgba(0, 0, 0, 0.1);
		box-shadow: 0px -8rpx 20rpx 0px rgba(0, 0, 0, 0.03);
		
	}
	.yhText{
		font-weight: normal;
		line-height: 24rpx;
		color: #FD4848;
	}
	.deaPric{
		.fh{
			font-size: 32rpx;
			font-weight: 700;
			line-height: 32rpx;
			color: $pColor;
		}
		.num{
			font-size: 48rpx;
			font-weight: 700;
			line-height: 48rpx;
			color: $pColor;
			margin-right: 6rpx;
		}
		.dw{
			font-size: 28rpx;
			font-weight: 400;
			line-height: 28rpx;
			color: #666666;
		}
	}
	.fixBut{
		width: 252rpx;
		height: 96rpx;
		border-radius: 48rpx;
		background: $pColor;
		font-size: 32rpx;
		font-weight: bold;
		line-height: 96rpx;
		text-align: center;
		color: #FFFFFF;
	}