
	page{
		background: $pageBgColor;
	}
	.pageView{
		padding: 0 32rpx;
		box-sizing: border-box;
		position: relative;
		z-index: 0;
	}
	.searchView{
		padding: 0 32rpx;
		box-sizing: border-box;
		position: relative;
		z-index: 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.cards{
		background: #FFFFFF;
		border-radius: 20rpx;
	}
	.backColor{
		width: 750rpx;
		height: 750rpx;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		background: linear-gradient(180deg, #FF9600 0%, #F1EFEC 100%);
	}
	
	::v-deep .u-navbar__content{
		background: none !important;
	}