 /**
  * 
  * 全局样式表 
  * 
  **/
  /* #ifndef APP-NVUE */
  page {font-size: 28rpx; color: #000000;}
  /* #endif */
  /* #ifdef APP-NVUE */
  .page {font-size: 28rpx; color: #000000;}
  /* #endif */
/* page {font-size: 28rpx; color: #000000;} */

/* --------------------文本-------------------- */
.fs-20 {font-size: 20rpx;}
.fs-22 {font-size: 22rpx;}
.fs-24 {font-size: 24rpx;}
.fs-26 {font-size: 26rpx;}
.fs-28 {font-size: 28rpx;}
.fs-30 {font-size: 30rpx;}
.fs-32 {font-size: 32rpx;}
.fs-34 {font-size: 34rpx;}
.fs-36 {font-size: 36rpx;}
.fs-38 {font-size: 38rpx;}
.fs-40 {font-size: 40rpx;}
.fs-42 {font-size: 42rpx;}
.fs-44 {font-size: 44rpx;}
.fs-46 {font-size: 46rpx;}
.fs-48 {font-size: 48rpx;}
.fs-50 {font-size: 50rpx;}
.fs-60 {font-size: 60rpx;}
.fs-66 {font-size: 66rpx;}
.fs-70 {font-size: 70rpx;}
.fs-80 {font-size: 80rpx;}

.fw-500 {font-weight: 500;}
.fw-600 {font-weight: 600;}
.fw-700 {font-weight: 700;}
.fw-800 {font-weight: 800;}
.fw-b {font-weight: bold;}

.tc {text-align: center;}
.lh40 {line-height: 40rpx;}
.lh50 {line-height: 50rpx;}

.colf {color: #ffffff;}
.col3 {color: #333333;}
.col6 {color: #666666;}
.col9 {color: #999999;}
.colff9 {color: #FF9600;}

.bg-f5 {background: #F5F5F5;}

/* --------------------布局-------------------- */
.flex {display: flex;flex-wrap: nowrap;}
.flex-col {flex-direction: column;}
.just-sb {justify-content: space-between;}
.ali-cen {align-items: center;}
.flex-1 {flex: 1;}
.flex-end {justify-content: flex-end;}
.flex-alims-cen {display: flex;align-items: center;}
.fl-al-ce {display: flex;align-items: center;}
.fl-al-fs {display: flex;align-items: flex-start;}
.fl-al-fe {display: flex;align-items: flex-end;}
.fl-ce-ce {display: flex;align-items: center;justify-content: center;}
.fl-ce-sb {display: flex;align-items: center;justify-content: space-between;}
.fl-ce-sa {display: flex;align-items: center;justify-content: space-around;}
/* #ifndef APP-NVUE */
.fl-ce-se {display: flex;align-items: center;justify-content: space-evenly;}
/* #endif */
.fl-ce-fs {display: flex;align-items: center;justify-content: flex-start;}
.fl-ce-fe {display: flex;align-items: center;justify-content: flex-end;}
.fl-fs-sb {display: flex;align-items: flex-start;justify-content: space-between;}
.fl-fe-sb {display: flex;align-items: flex-end;justify-content: space-between;}
.fl-fs-sa {display: flex;align-items: flex-start;justify-content: space-around;}
.fl-fe-sa {display: flex;align-items: flex-end;justify-content: space-around;}
.fl-row{flex-direction: row;}
/* ------------------内外边距------------------ */
.m-0 {margin: 0;}
.m-5 {margin: 5rpx;}
.m-10 {margin: 10rpx;}
.m-15 {margin: 15rpx;}
.m-20 {margin: 20rpx;}
.m-25 {margin: 25rpx;}
.m-30 {margin: 30rpx;}
.m-40 {margin: 40rpx;}
.m-50 {margin: 50rpx;}

.m-l-5 {margin-left: 5rpx;}
.m-l-10 {margin-left: 10rpx;}
.m-l-15 {margin-left: 15rpx;}
.m-l-20 {margin-left: 20rpx;}
.m-l-25 {margin-left: 25rpx;}
.m-l-30 {margin-left: 30rpx;}
.m-l-40 {margin-left: 40rpx;}
.m-l-50 {margin-left: 50rpx;}

.m-r-5 {margin-right: 5rpx;}
.m-r-10 {margin-right: 10rpx;}
.m-r-15 {margin-right: 15rpx;}
.m-r-20 {margin-right: 20rpx;}
.m-r-25 {margin-right: 25rpx;}
.m-r-30 {margin-right: 30rpx;}
.m-r-35 {margin-right: 35rpx;}
.m-r-40 {margin-right: 40rpx;}
.m-r-50 {margin-right: 50rpx;}

.m-t-5 {margin-top: 5rpx;}
.m-t-10 {margin-top: 10rpx;}
.m-t-15 {margin-top: 15rpx;}
.m-t-20 {margin-top: 20rpx;}
.m-t-25 {margin-top: 25rpx;}
.m-t-30 {margin-top: 30rpx;}
.m-t-35 {margin-top: 35rpx;}
.m-t-40 {margin-top: 40rpx;}
.m-t-50 {margin-top: 50rpx;}
.m-t-60 {margin-top: 60rpx;}

.m-b-2 {margin-bottom: 2rpx;}
.m-b-10 {margin-bottom: 10rpx;}
.m-b-15 {margin-bottom: 15rpx;}
.m-b-20 {margin-bottom: 20rpx;}
.m-b-25 {margin-bottom: 25rpx;}
.m-b-30 {margin-bottom: 30rpx;}
.m-b-35 {margin-bottom: 35rpx;}
.m-b-40 {margin-bottom: 40rpx;}
.m-b-50 {margin-bottom: 50rpx;}

.m-lr-10 {margin-left: 10rpx;margin-right: 10rpx;}
.m-lr-15 {margin-left: 15rpx;margin-right: 15rpx;}
.m-lr-20 {margin-left: 20rpx;margin-right: 20rpx;}
.m-lr-25 {margin-left: 25rpx;margin-right: 25rpx;}
.m-lr-30 {margin-left: 30rpx;margin-right: 30rpx;}
.m-lr-40 {margin-left: 40rpx;margin-right: 40rpx;}
.m-lr-50 {margin-left: 50rpx;margin-right: 50rpx;}

.m-tb-10 {margin-top: 10rpx;margin-bottom: 10rpx;}
.m-tb-15 {margin-top: 15rpx;margin-bottom: 15rpx;}
.m-tb-20 {margin-top: 20rpx;margin-bottom: 20rpx;}
.m-tb-25 {margin-top: 25rpx;margin-bottom: 25rpx;}
.m-tb-30 {margin-top: 30rpx;margin-bottom: 30rpx;}
.m-tb-40 {margin-top: 40rpx;margin-bottom: 40rpx;}
.m-tb-50 {margin-top: 50rpx;margin-bottom: 50rpx;}

.p-10 {padding: 10rpx;}
.p-15 {padding: 15rpx;}
.p-20 {padding: 20rpx;}
.p-25 {padding: 25rpx;}
.p-30 {padding: 30rpx;}
.p-32 {padding: 32rpx;}
.p-40 {padding: 40rpx;}
.p-50 {padding: 50rpx;}

.p-l-10 {padding-left: 10rpx;}
.p-l-15 {padding-left: 15rpx;}
.p-l-20 {padding-left: 20rpx;}
.p-l-25 {padding-left: 25rpx;}
.p-l-30 {padding-left: 30rpx;}
.p-l-40 {padding-left: 40rpx;}
.p-l-50 {padding-left: 50rpx;}

.p-r-10 {padding-right: 10rpx;}
.p-r-15 {padding-right: 15rpx;}
.p-r-20 {padding-right: 20rpx;}
.p-r-25 {padding-right: 25rpx;}
.p-r-30 {padding-right: 30rpx;}
.p-r-40 {padding-right: 40rpx;}
.p-r-50 {padding-right: 50rpx;}
.p-r-60 {padding-right: 60rpx;}
.p-r-70 {padding-right: 70rpx;}

.p-t-5 {padding-top: 5rpx;}
.p-t-10 {padding-top: 10rpx;}
.p-t-15 {padding-top: 15rpx;}
.p-t-20 {padding-top: 20rpx;}
.p-t-25 {padding-top: 25rpx;}
.p-t-30 {padding-top: 30rpx;}
.p-t-40 {padding-top: 40rpx;}
.p-t-50 {padding-top: 50rpx;}
.p-t-60 {padding-top: 60rpx;}
.p-t-100 { padding-top: 100rpx;}

.p-b-10 {padding-bottom: 10rpx;}
.p-b-15 {padding-bottom: 15rpx;}
.p-b-20 {padding-bottom: 20rpx;}
.p-b-25 {padding-bottom: 25rpx;}
.p-b-30 {padding-bottom: 30rpx;}
.p-b-40 {padding-bottom: 40rpx;}
.p-b-50 {padding-bottom: 50rpx;}

.p-lr-10 {padding-left: 10rpx;padding-right: 10rpx;}
.p-lr-15 {padding-left: 15rpx;padding-right: 15rpx;}
.p-lr-20 {padding-left: 20rpx;padding-right: 20rpx;}
.p-lr-25 {padding-left: 25rpx;padding-right: 25rpx;}
.p-lr-30 {padding-left: 30rpx;padding-right: 30rpx;}
.p-lr-32 {padding-left: 32rpx;padding-right: 32rpx;}
.p-lr-40 {padding-left: 40rpx;padding-right: 40rpx;}
.p-lr-50 {padding-left: 50rpx;padding-right: 50rpx;}

.p-tb-3 {padding-top: 3rpx;padding-bottom: 3rpx;}
.p-tb-5 {padding-top: 5rpx;padding-bottom: 5rpx;}
.p-tb-10 {padding-top: 10rpx;padding-bottom: 10rpx;}
.p-tb-15 {padding-top: 15rpx;padding-bottom: 15rpx;}
.p-tb-20 {padding-top: 20rpx;padding-bottom: 20rpx;}
.p-tb-25 {padding-top: 25rpx;padding-bottom: 25rpx;}
.p-tb-30 {padding-top: 30rpx;padding-bottom: 30rpx;}
.p-tb-35 {padding-top: 35rpx;padding-bottom: 35rpx;}
.p-tb-40 {padding-top: 40rpx;padding-bottom: 40rpx;}
.p-tb-50 {padding-top: 50rpx;padding-bottom: 50rpx;}


/* --------------------图标-------------------- */
.icon-24 { width: 24rpx; height: 24rpx; }
.icon-28 { width: 28rpx; height: 28rpx; }
.icon-32 { width: 32rpx; height: 32rpx; }
.icon-36 { width: 36rpx; height: 36rpx; }
.icon-40 { width: 40rpx; height: 40rpx; }
.icon-44 { width: 44rpx; height: 44rpx; }
.icon-72 { width: 72rpx; height: 72rpx; }
.icon-88 { width: 88rpx; height: 88rpx; }
.icon-116 { width: 116rpx; height: 116rpx; }
.br50 { border-radius: 50%; }

.textOneEllipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* #ifndef APP-NVUE */
.texNoWrap {
	text-overflow: -o-ellipsis-lastline;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	line-clamp: 1;
	-webkit-box-orient: vertical;
}

.texNoWrap2 {
	word-break: break-all;
	white-space: pre-wrap;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	line-clamp: 2;
	/* 这里是超出几行省略 */
	overflow: hidden;
}

.texNoWrap3 {
	word-break: break-all;
	white-space: pre-wrap;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	line-clamp: 3;
	/* 这里是超出几行省略 */
	overflow: hidden;
}

/* #endif */
/* #ifdef APP-NVUE */
.texNoWrap {
	lines: 1;
	  text-overflow: ellipsis;
	  overflow: hidden;
	  white-space: nowrap;
}

.texNoWrap2 {
	lines: 2;
	text-overflow: ellipsis;
	overflow: hidden;
}

.texNoWrap3 {
	lines: 3;
	text-overflow: ellipsis;
	overflow: hidden;
}
/* #endif */