	.content {
		width: 100%;
		height: 100vh;
		background-color: #F1EFEC;
	}
	.search-bar{
		padding: 0 25rpx;
		box-sizing: border-box;
		background-color: #fff;
		 display: flex;
		  align-items: center;
		  justify-content: space-between;
		margin-top: 100px;
	}
	.my-avatar{
		width: 72rpx;
		height: 72rpx;
		background: $bgLgColor;
		box-shadow: 0rpx 10rpx 20rpx 0rpx rgba(253,154,10,0.2);
		border-radius: 36rpx;
		color: #fff;
		font-size: 20rpx;
		text-align: center;
	}
	.search-input-wrap{
		flex: 1;
	}
	.filter-bar {
		padding: 10rpx 30rpx;
		box-sizing: border-box;
	  display: flex;
	  background-color: #fff;
	  border-radius: 8px;
	  position: relative;
	}
	.filter-item {
	  display: flex;
	  text-align: center;
	  padding: 10px 0;
	  font-size: 14px;
	}
   .filter-ls{
	    flex: 1;
		align-items: center;
		justify-content: center;
   }
   .filter-wz{
	   font-size: 28rpx;
   }
   .zhi{
	   color: #999999;
	   margin: 0 10rpx;
   }
   .down{
	   margin-left: 6rpx;
	  display: inline-block;
	  padding-top: 10rpx;
   }
   .category{
	   width: 100%;
	   min-height: 280rpx;
	   background-color: #fff;
	   position: absolute;
	   top: 80rpx;
	   left: 0;
	   z-index: 99;
	   border-top: 1px solid #eee;
   }
   .bill-list {
   
	margin: 30rpx 0;
   }
   .bill-box{
	   padding: 0 32rpx;
	   box-sizing: border-box;
   }
   .bill-item {
	   height: 270px;
	   padding: 0 30rpx;
	   box-sizing: border-box;
	 background-color: #fff;
	   border-radius: 20rpx;
	   margin-bottom: 30rpx;
   }
   .bill-time{
	    color: #999999;
	   .img{
		   width: 40rpx;
		   height: 40rpx;
		   padding-top: 4rpx;
		  vertical-align: bottom;
		  margin-right: 15rpx;
	   }
   }
   .bill-kpsj{
	   font-size: 24rpx;
   }
   .bill-kp{
	  font-size: 24rpx;
	  color: #00D36D; 
   }
   .bill-time-box{
	   display: flex;
	   justify-content: space-between;
	   align-items: center;
	   padding: 20rpx 0;
	   border-bottom: 1px solid #F0F0F0;
   }
   .bill-header {
     display: flex;
     align-items: center;

   }
   .bill-tag {
     padding: 15rpx 8px;
     margin-right: 8px;
	 
	 .img{
		 width: 56rpx;
		 height: 30rpx;
		vertical-align: middle;
	 }
   }
   .bill-etc-no {
    font-weight: bold;
    font-size: 26rpx;
    color: #000000;
   }
   .bill-info {
     display: flex;
     flex-direction: column;
   }
   .start-info, .end-info {
     display: flex;
     align-items: center;
     margin-bottom: 6px;
   }

   .start-dot {
	  .img{
		  width: 40rpx;
		  height: 40rpx;
	  }
   }
   .end-dot {

   }
   .station-info {
     display: flex;
     flex-direction: column;
   }
   .station-name {
     font-size: 14px;
     color: #333;
     margin-bottom: 2px;
   }
   .time {
     font-size: 12px;
     color: #999;
   }
   .amount {
     align-self: flex-end;
     font-size: 20rpx;
     color: $color;
     margin-top: 8px;
   }
   .toll-container {
     padding:30rpx 20rpx;
     background-color: #F7F7F7 ;
     border-radius: 10rpx;
	 position: relative;
	 .xian{
	 	   height: 45px;
	 	       border-left: 2px dashed #CCCCCC;
	 	       position: absolute;
	 	       top: 90rpx;
	 	       left: 37rpx;
	 }
   }
   .toll-item {
     display: flex;
     align-items: center;
	 .img{
		 width: 40rpx;
		 height: 40rpx;
		 margin-top: -15px;
	 }
   }
   .icon {
     width: 50rpx;
     height: 50rpx;
   }
   .text-info {
     margin-left: 10rpx;
	 .time {
		 margin-top: 10rpx;
	   font-size: 24rpx;
	   color: #999;
	 }
   }
   .title {
     font-size: 32rpx;
     font-weight: bold;
   }
  
   .fee-info {
     display: flex;
     justify-content: flex-end;
     align-items: center;
     margin-bottom: 20rpx;
   }
   .fee-symbol {
     font-size: 28rpx;
     color: $color;
   }
   .fee-amount {
     font-size: 40rpx;
     color: $color;
     font-weight: bold;
     margin:0 15rpx 0 8rpx;
   }
