.content{
		width: 100%;
		min-height: 100vh;
		background: linear-gradient(-40deg, #0F1620, #13212D);
	}
	.topImg{
		width: 100%;
		height: 450rpx;
	}
	.card{
		width: 688rpx;
		padding: 40rpx;
		padding-bottom: 32rpx;
		box-sizing: border-box;
		margin: 0 auto;
		border-radius: 20rpx;
		position: relative;
		.cardTitleIcon{
			width: 110rpx;
			height: 102rpx;
			position: absolute;
			top: 0;
			right: 20rpx;
		}
		.card-title{
			width: 100%;
			display: flex;
			align-items: center;
			
			.card-title-item{
				display: inline-block;
				.card-title-item-iext{
					position: relative;
					z-index: 1;
					font-weight: 700;
					font-size: 32rpx;
					color: #522200;
					line-height: 32rpx;
				}
				.card-title-item-icon{
					// background: linear-gradient( 270deg, #FFD28E 0%, rgba(255,210,142,0) 100%);
					background: linear-gradient(90deg, #FFD28E 0%, rgba(255,210,142,0) 100%);
					margin-top: -15rpx;
					width: 100%;
					height: 24rpx;
					border-radius: 0;
					position: relative;
					z-index: 0;
				}
			}
			.card-title-icon{
				width: 29rpx;
				height: 29rpx;
				margin-left: 36rpx;
			}
		}
		.card-center{
			width: 100%;
			padding-top: 32rpx;
			display: flex;
			align-items: center;
			justify-content: space-between;
			.card-center-left{
				width: 292rpx;
				height: 384rpx;
				background: $bgLgColor;
				border-radius: 16rpx 16rpx 16rpx 16rpx;
				position: relative;
				padding: 32rpx;
				box-sizing: border-box;
				.leftTitle{
					font-weight: 700;
					font-size: 28rpx;
					color: rgba(255,255,255,0.9);
					line-height: 28rpx;
				}
				.lefttext{
					font-family: Source Han Sans, Source Han Sans;
					font-weight: 500;
					font-size: 24rpx;
					color: rgba(255,255,255,0.6);
					line-height: 24rpx;
				}
				.leftBut{
					width: 144rpx;
					height: 72rpx;
					background: linear-gradient( 180deg, rgba(255,255,255,0.16) 0%, rgba(255,255,255,0.5) 100%);
					border-radius: 48rpx 48rpx 48rpx 48rpx;
					display: flex;
					align-items: center;
					justify-content: center;
					font-weight: 700;
					font-size: 24rpx;
					color: #8C4F16;
					line-height: 24rpx;
				}
				.leftBott{
					
					width: 292rpx;
					height: 148rpx;
					background: linear-gradient( 180deg, rgba(255,255,255,0.16) 0%, rgba(255,255,255,0.5) 100%);
					border-radius: 16rpx 16rpx 16rpx 16rpx;
					position: absolute;
					left: 0;
					bottom: 0;
					z-index: 1;
					display: flex;
					align-items: center;
					justify-content: flex-end;
					.leftBott-item{
						width: 160rpx;
						.leftBott-item-title{
							font-weight: 700;
							font-size: 24rpx;
							color: rgba(255,255,255,0.9);
							line-height: 24rpx;
						}
						.leftBott-item-text{
							font-weight: 400;
							font-size: 24rpx;
							color: rgba(255,255,255,0.7);
							line-height: 24rpx;
						}
					}
				}
			}
			.card-center-right{
				width: 292rpx;
				height: 384rpx;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				.rightback1{background: linear-gradient( 180deg, #CBD9FF 0%, rgba(232,241,255,0.3) 100%);color: rgba(22,75,140,0.9);}
				.rightback2{background: linear-gradient( 180deg, #FFD9B0 0%, rgba(255,244,226,0.3) 100%);color: rgba(140,79,22,0.9);}
				.rightback3{background: linear-gradient( 180deg, #C4E7C0 0%, rgba(226,249,231,0.3) 100%);color: rgba(22,140,28,0.9);}
				.card-center-right-item{
					width: 100%;
					height: 112rpx;
					border-radius: 16rpx;
					display: flex;
					align-items: center;
					justify-content: space-between;
					padding: 24rpx 24rpx;
					box-sizing: border-box;
					font-weight: 700;
					font-size: 24rpx;
					.rightView{
						display: flex;
						align-items: center;
						text{
							margin-right: 10rpx;
						}
					}
				}
			}
		}
		.cardtext{
			background: rgba(118,67,0,0.06);
			border-radius: 16rpx 16rpx 16rpx 16rpx;
			padding: 26rpx 16rpx;
			box-sizing: border-box;
			font-weight: 400;
			font-size: 28rpx;
			color: #522200;
			line-height: 52rpx;
			.cardtextIcon{
				color: $color;
			}
		}
	}
	.cardBack1{
		background: linear-gradient( 180deg, #FFF4E6 0%, rgba(255,255,255,0.73) 100%);
	}
	.cardBack2{
		background: rgba(255,255,255,0.8);
	}