.personal-box {
		width: 100%;
		height: 100vh;
		overflow: hidden;
		background: #F1EFEC;
	}

	::v-deep .u-cell {
		background: #fff;
		margin: 10rpx 30rpx;
		border-radius: 20rpx;
	}
	.img {
		width: 75rpx;
		height: 75rpx;
	}

	.cell-h {
		padding: 18rpx 0;
	}

	.default {
		color: #999999;
	}

	.choice {
		color: #000000;
	}
	
	.avatar {
		height: 116rpx;
		background: #FFFFFF;
		border-radius: 20rpx;
		margin: 30rpx 32rpx 0;
	}
	
	button {
		padding: 0 30rpx;
		border: none;
		border-radius: 20rpx;
	}
	
	.avatar .img {
		width: 75rpx;
		height: 78rpx;
		margin-right: 20rpx;
		border-radius: 50%;
	}
